@tailwind base;
@tailwind components;
@tailwind utilities;

/* @keyframes animating {
  from {
    background-position: 0;
  }
  to {
    background-position: 20px;
  }
}

@layer components {
  .stripe {
    background-image: linear-gradient(
      -45deg,
      black 5%,
      transparent 5% 45%,
      black 45% 55%,
      transparent 55% 95%,
      black 95%
    );
    background-size: 20px 20px;
    isolation: isolate;
    animation: 1s linear 0s infinite normal animating;
  }
}

@layer utilities {
  .stripe-reverse {
    animation: 1s linear 0s infinite reverse animating;
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
